
@font-face {
    font-family: 'Purista';
    src: url('fonts/PuristaMedium.eot');
    src: url('fonts/PuristaMedium.eot?#iefix') format('embedded-opentype'),
         url('fonts/PuristaMedium.woff') format('woff'),
         url('fonts/PuristaMedium.ttf') format('truetype'),
         url('fonts/PuristaMedium.svg#puristaregular') format('svg'),
         local('fonts/PuristaMedium.woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
  font-family: 'Open Sans';
  font-style: light;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

html{
	background: rgb(191,190,191);
	background: linear-gradient(48deg, rgba(191,190,191,1) 4%, rgba(235,236,251,1) 38%);
	font-family: 'Purista', 'Open Sans', sans-serif;
	min-height:100vh;
	margin:0px;
	padding:0px;
}

body{
	margin:0px;
	padding:0px;
}

.container{
	margin:0px;
	padding:0px;
}

.mainContainer{
}

.searchContainer{
	
}

.resultContainer{
	margin-top:30px;
}
.forecastContainer{
	margin-top:30px;
}

.searchbar{
	font-size: 120%; 
	width: 100%;
	max-width:500px;
	padding: 0.5em 0.5em;
    display: inline-block;
    -webkit-box-shadow: inset 0 1px 3px #ddd;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    border: 1px solid #a6b3c5;
    background: #fafafa;
	box-sizing: border-box;
}

.cityTitle{
	font-size:130%;
	font-weight:bold;
	padding-left: 10px;
}

.weatherIcon{
	width:40px;
	height:40px;

}

.card{
	display: inline-block;
	border: 1px solid #dfdfdf;
	background: #efefef;	
	padding: 13px;
	width:100%;
	box-sizing: border-box;
	display: flex;
}


.dateWrapper{
	display: inline-block;
	text-align: center;
	padding: 0px 10px 0px 0px;
	-ms-flex: 1;  /* IE 10 */  
  flex: 1;
	vertical-align: top;
}

.tempWrapper{
	display: inline-block;
	text-align: center;
	padding: 0px 10px 0px 0px;
	-ms-flex: 1;  /* IE 10 */  
  flex: 1;
	vertical-align: top;
}

.weatherWrapper{
	display: inline-block;
	text-align: center;
	padding: 0px 10px 0px 0px;
	-ms-flex: 1;  /* IE 10 */  
  flex: 1;
	vertical-align: top;
}

.dayHolder{
	font-weight:bold;
}

.dateHolder{
	font-size:50%;
	margin-top: 5px;
	font-style: italic;
}

.iconWrapper{
	display: inline-block;
	vertical-align: top;
}

.windHolder{
	font-size:50%;
}

@media (min-width: 350px) {
	.container{
		margin:0px;
		padding:20px;
	}
	
	.card{
		flex-wrap: wrap;
		display: inline-block;
		padding: 10px;
		margin: 10px;
		width: 140px;
		border-radius: 8px;
	}
	
	.dateWrapper{
		display: block;
		text-align: left;
		
	}
	.tempWrapper{
		display: block;
		width: auto;
		text-align: right;
	}
	.weatherWrapper{
		display: block;
		width: auto;
		text-align: left;
	}
	.iconWrapper{
		display: block;
	}
}
