
/* fonts for website */
@font-face {
    font-family: 'Purista';
    src: url('fonts/PuristaMedium.eot');
    src: url('fonts/PuristaMedium.eot?#iefix') format('embedded-opentype'),
         url('fonts/PuristaMedium.woff') format('woff'),
         url('fonts/PuristaMedium.ttf') format('truetype'),
         url('fonts/PuristaMedium.svg#puristaregular') format('svg'),
         local('fonts/PuristaMedium.woff');
    font-weight: 400;
    font-style: normal;

}

@font-face { /* default to this font if error on font load */
	font-family: 'Open Sans';
	font-style: light;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

/* begin classes for tags */
html{
	background: rgb(124,135,167);
	background: linear-gradient(50deg, rgba(124,135,167,1) 10%, rgba(208,210,241,1) 40%);
	font-family: 'Purista', 'Open Sans', sans-serif;
	min-height:100vh;
	margin:0px;
	padding:0px;
}

body{
	margin:0px;
	padding:0px;
}

.container{
	margin:0px;
	padding:0px;
}

.resultContainer{
	margin-top:30px;
}

.forecastContainer{
	margin-top:30px;
}

.logo {
	width: 200px;
	height: 106px;
	padding: 10px;
}

.searchbar{
	font-size: 130%; 
	width: 100%;
	padding: 0.7em 0.7em;
    display: inline-block;
    -webkit-box-shadow: inset 0 1px 3px #ddd;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    border: 1px solid #a6b3c5;
    background: #fafafa;
	box-sizing: border-box;
}

.cityTitle{
	font-size:150%;
	font-weight:bold;
	padding-left: 20px;
}

.card{
	display: inline-block;
	border: 1px solid #dfdfdf;
	background: #efefef;	
	padding: 13px;
	width:100%;
	box-sizing: border-box;
	display: flex;
}

.dayHolder{
	font-weight:bold;
}

.dateHolder{
	font-size:40%;
	margin-top: 5px;
	font-style: italic;
}

.dateWrapper{
	display: inline-block;
	text-align: center;
	padding: 0px 10px 0px 0px;
	-ms-flex: 1;  /* IE 10 */  
    flex: 1;
	vertical-align: top;
}

.logoWrapper{
	width: 100%;
	text-align: center;
}

.tempWrapper{
	display: inline-block;
	text-align: center;
	padding: 0px 10px 0px 0px;
	-ms-flex: 1;  /* IE 10 */  
  flex: 1;
	vertical-align: top;
}

.weatherWrapper{
	display: inline-block;
	text-align: center;
	padding: 0px 10px 0px 0px;
	-ms-flex: 1;  /* IE 10 */  
	flex: 1;
	vertical-align: top;
}

.iconWrapper {
	display: inline-block;
	vertical-align: top;
}

.weatherIcon{
	width:40px;
	height:40px;
	background: #ffffff; /* made bg white because some icons get lost in gray */
	border-radius: 8px;
	filter: drop-shadow( 0.2rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2) );
}

.windHolder {
	font-size:50%;
}

.windIcon{
	width: 14px;
	height: 14px;
	display: inline-block;
	vertical-align:middle;
}

.windInfo {
	vertical-align:middle;
}

/* modified classes for larger view ( 390px or larger ) */
@media (min-width: 390px) {
	.card{
		flex-wrap: wrap;
		display: inline-block;
		padding: 10px;
		margin: 10px;
		width: 140px;
		border-radius: 8px;
		filter: drop-shadow( 0.4rem 0.4rem 0.3rem rgba(0, 0, 0, 0.4) );
	}
	.container{
		margin: 0px;
		padding: 20px;
	}
	.dateWrapper{
		text-align: left;
		font-size: 120%;
	}
	.logo {
		width: 200px;
		height: 106px;
	}
	.logoWrapper{
		text-align: left;
	}
	.searchbar{
		width: 60vw;
		max-width: 600px;
	}
	
	.tempWrapper{
		width: auto;
		float: right;
		vertical-align: top;
		padding: 0px;
	}
	.weatherWrapper{
		margin-top: 12px;
		width: auto;
		text-align: left;
	}
	.iconWrapper{
		float: right;
	}
}
